
/* 
	common css 
*/

body{
	font-size: 14px;
	line-height: 22px;
	height: 100%;
	font: 12px/100% '微软雅黑', Verdana, Geneva, sans-serif;
	color: #666;
	-webkit-font-smoothing: antialiased;
}


.container {
	width: 1000px;
}

.header {
	width: 100%;
}

.header  p.tel {
	font-size: 16px;
	margin: 30px 0 0 0;
}

.navbar-default {
	background-color: #6A9E32;
	font-size: 16px;
	
}
.navbar-default .navbar-nav>li>a {
	color: #000000;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #FFFFFF;
	background-color: #6A9E32;
}

.wrapper {
	/*margin-top: 51px;*/
}

.footer {
	background-color: #474644;
}

.footer p {
	color:#FF6501;
	font-size: 20px;
	padding: 25px 0 15px;
}

/* main page */

.block_1 {
	padding-bottom: 20px;
}

.block_2 {
	padding: 0 0 20px;
	border-bottom: 1px solid #CECECE;
}
.block_2 p.title {
	height: 40px;
	line-height: 40px;
	width: 100px;
	background-color: #FF6801;
	font-size: 15px;
	color: #EEEEEE;
}
.block_2 p.intro {
	line-height: 22px;
	font-size: 14px;
}

.block_2 .online-buy {
	padding: 0;
	text-align: right;
}

.block_2 .online-buy a {
	display:block;
	margin-top: 18px;
}


.block_3 {
	padding: 40px 0;
	border-bottom: 1px solid #CECECE;
}
.block_3 p {
	margin-top: 10px;
	line-height: 20px;
	height: 20px;
	color: #999999;
	font-size: 14px;
}
.block_3 h2 {
	margin-top: 85px;	
}


.block_4 {
	padding: 40px 0;
	border-bottom: 1px solid #CECECE;
}

.block_5 {
	padding: 30px 0 40px;
	background-color: #CBFEC6;
	border-bottom: 1px solid #CECECE;
}


/* product page */

.block_6 {
	padding: 80px 0 80px;
	border-bottom: 1px solid #CECECE;
}


.block_7 {
	/*padding: 30px 0 40px;*/
	background-color: #D5EABF;
	border-bottom: 1px solid #CECECE;
}

.block_8 {
	padding: 80px 0 80px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #CECECE;
}



/* buy page */

.buy {
	
	/*margin-bottom: 300px;*/
	
}

.buy h1 {
	padding: 50px 0 50px;
}

.buy .require{
	color: red;
	font-size: 16px;
	vertical-align: middle;
	padding: 0 5px;
}

.buy .code {
	vertical-align: middle;
}

.buy .change {
	vertical-align: middle;
}
