
/* 
	common css 
*/

body{
	font-size: 14px;
	line-height: 22px;
	height: 100%;
	font: 12px/100% '微软雅黑', Verdana, Geneva, sans-serif;
	color: #666;
	-webkit-font-smoothing: antialiased;
}

.container {
	width: 980px;
}

.header {
	width: 100%;
}

.navbar-default {
	background-color: #6A9E32;
	font-size: 16px;
	
}
.navbar-default .navbar-nav>li>a {
	color: #000000;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	
	color: #FFFFFF;
	background-color: #6A9E32;
}

.wrapper {
	margin-top: 51px;
}

.footer {
	background-color: #474644;
}

.footer p {
	color:#FF6501;
	font-size: 20px;
	padding: 25px 0 15px;
}

/* main page */

.block_1 {
	padding: 20px 0;
}

.block_2 {
	padding: 0 0 20px;
	border-bottom: 1px solid #CECECE;
}
.block_2 p.title {
	height: 40px;
	line-height: 40px;
	width: 100px;
	background-color: #FF6801;
	font-size: 15px;
	color: #EEEEEE;
}
.block_2 p.intro {
	line-height: 22px;
	font-size: 14px;
}

.block_3 {
	padding: 40px 0;
	border-bottom: 1px solid #CECECE;
}
.block_3 p {
	margin-top: 10px;
	line-height: 20px;
	height: 20px;
	color: #999999;
	font-size: 14px;
}
.block_3 h2 {
	margin-top: 85px;	
}


.block_4 {
	padding: 40px 0;
	border-bottom: 1px solid #CECECE;
}

.block_5 {
	padding: 30px 0 40px;
	background-color: #CBFEC6;
	border-bottom: 1px solid #CECECE;
}


/* buy page */

.buy {
	
	margin-bottom: 300px;
}

.buy h1 {
	padding: 100px 0 100px;
}









/* product page */



